{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Tickets</title>
    <link rel="stylesheet" href="{% static 'css/sideBar.css' %}" />
  </head>
  <body>
    <div class="layout">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-menu">
          <div class="menu-icon active"></div>
          <div class="menu-icon"></div>
          <div class="menu-icon"></div>
          <div class="menu-icon"></div>
          <div class="menu-icon"></div>
        </div>
      </aside>

      <!-- Main content -->
      <div class="main">
        <!-- Left Panel -->
        <div class="left-panel">
          <div class="search-box">
            <input type="text" placeholder="Buscar ticket..." />
          </div>

          <h3>Ticket categories</h3>
          <ul class="category-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <div class="labels">
            <span class="label yellow"></span>
            <span class="label blue"></span>
            <span class="label green"></span>
            <span class="label red"></span>
          </div>
        </div>

        {% block content %}
        {% endblock %}
        <!--Tickets KANBAN -->
        
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".kanban-card");
    const columns = document.querySelectorAll(".kanban-column");

    let draggedCard = null;

    cards.forEach((card) => {
      card.addEventListener("dragstart", () => {
        draggedCard = card;
        card.classList.add("dragging");
      });

      card.addEventListener("dragend", () => {
        draggedCard.classList.remove("dragging");
        draggedCard = null;
      });
    });

    columns.forEach((column) => {
      column.addEventListener("dragover", (e) => {
        e.preventDefault();
      });

      column.addEventListener("drop", () => {
        if (draggedCard) {
          column.appendChild(draggedCard);
        }
      });
    });
  });
</script>
